
.visualizer {
  align-items: flex-end;
  background: #FFFFEE;
  border: 1px solid #FFEEBB;
  display: flex;
  flex-flow: row nowrap;
  height: 400px;
  position: relative;
  width: 400px;

  .bar {
    background: #00F;
    flex-basis: 0;
    flex-grow: 1;
  }
}